.pynb_checkpoints

.ipynb_checkpoints/density_2-checkpoint.ipynb

.ipynb_checkpoints/density-checkpoint.ipynb

.ipynb_checkpoints/distance_shorline-checkpoint.ipynb

.ipynb_checkpoints/CrissCross-checkpoint.ipynb

.ipynb_checkpoints/TextAnalysis-checkpoint.ipynb

data/.DS_Store



.ipynb_checkpoints/transformation-checkpoint.ipynb
